<!DOCTYPE html>
<html lang="es">
<head>
    <title>My First Spring Boot App</title>
    <style>
        html {
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            color: #404040;
            background-color: #d3d3d3;
        }
        body{
            padding: 5em;
        }
    </style>
</head>
<body>
    <h1>Hello! Server running!</h1>
    <p>
        Bienvenido a api 
    </p>
    <ul>
        <li>GET api/item</li>
        <li>POST api/item<br>
            <ul>
                <li>Hay que agregar los headers: Accept y Content-Type con valor: application/json</li>
                <li>int uid </li>
                <li>String nombre</li>
                <li>String descripcion</li>
            </ul>
        </li>
    </ul>
</body>
</html>